<div class="container-fluid account-form">
  <h1 class="large-header">Maple Syrup</h1>
  <h3 class="sub-header">For Companies</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, :autofocus => true, :placeholder => "Enter your email address" %><br />

  <%= f.password_field :password, :placeholder => "Enter your password" %><br />

  <%= f.submit :class => "btn btn-large btn-success", :value => "Login" %>
  <%= link_to "For Users", new_user_session_path, :class => "btn btn-large btn-primary" %>

<% end %>

<%= render "companies/shared/links" %>
</div>