<div class="navbar navbar-inverse navbar-fixed-top navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">MapleSyrup</a>
      <p class="navbar-text pull-right">
        <% if current_user %>
          <% if current_user.provider == "facebook" %>
            <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture", :size => current_user.avatar.styles[:thumb].geometry  %>
          <% else %>
            <%= image_tag current_user.avatar.url(:thumb), :size => current_user.avatar.styles[:thumb].geometry  %>
          <% end %>
          <a href="#" class="navbar-link"><%= current_user.email %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "+ Create New Post", {:controller => "posts", :action => "new"}, {:class => "navbar-link", :method => :get} %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Logout", destroy_user_session_path, {:class => "navbar-link", :method => :delete} %>
        <% else %>
          <%= link_to "Login", new_user_session_path, :class => "navbar-link" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "navbar-link" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
