<div class="navbar navbar-inverse navbar-fixed-top navigation nav-escape-above nav-push-down">
	<div class="nav-opaque navbar-inner">
		<div class="container-fluid">
			<a class = "brand" href=<%= "/#companies/" + id %> ><%= name %></a>
				<div class="follow">
				<% if (user_signed_in && _.contains(session.currentUser.companies_im_following, id)) { %>
					<button class="btn btn-success pull-right">
						Following 
					</button>
				<% } else { %>
					<button class="btn pull-right">
						<i class="icon-plus"></i> Follow 
					</button>
				<% } %>
				</div>
		</div>
	</div>
</div>

<div class="container-fluid" id="company-splash-image">
	<img id="company-header-image" class="center-container" contenteditable="<%= editable %>" src="<%= splash_image %>">
	</div>
	<div id="company-select-new-image"></div>
</div>
<div id="company-information" class="container">
	<div class="row-fluid">
		<div class="span8 company-blurb">
			<div class="hero-unit">
				<div contenteditable="<%= editable %>" id="logo-placeholder">
					<% if (logo_urls.medium) { %>
						<img src="<%= logo_urls.medium %>" />
					<% } else { %>
						?
					<% } %>
				</div>
				<div class="company-content">
				<h1 contenteditable="<%= editable %>" id="company-blurb-title"> 
					<%= blurb_title %> 
				</h1>
				<p class="lead" id="company-blurb-body" contenteditable="<%= editable %>">
					<%= blurb_body %>	
				</p>
			</div>
		</div>
			<div class="content">
				<h2 id="company-more-info-title" contenteditable="<%= editable %>"> 
					<%= more_info_title %> 
				</h2>
				<p id="company-more-info-body" contenteditable="<%= editable %>">
					<%= more_info_body %>
				</p>
			</div>
		</div>
		<div class="span4 sponsored-challenges">
			<h1> 
				Current Contest
			</h1>
			<p>
				Middlesbrough Football Club (pron.: /ˈmɪdəlzbrə/), also known as Boro, are an English football club based in Middlesbrough, who play in the Football League Championship. Formed in 1876, they have played at the Riverside Stadium since Agust 1995,[2] their third ground since turning professional in 1889. Their longest-serving home was Ayresome Park, where they played for 92 years, from 1903 to 1995.
				They were one of the founding members of the Premier League in 1992. The club's main rivals are Sunderland and Newcastle United,[3] however the club also takes part in Yorkshire derbies with several other Yorkshire clubs; most notably Leeds United.[3]
				The club's highest league finish to date was third in the 1913–14 season and they have only spent two seasons outside of the Football League's top two divisions.[4] The club came close to folding in 1986 after experiencing severe financial difficulties before the club was saved by a consortium led by then board member and later chairman Steve Gibson.[5] Middlesbrough were controversially deducted three points for failing to fulfil a fixture against Blackburn Rovers during the 1996–97 Premier League season and were subsequently relegated.[6] They were promoted the following season and spent eleven consecutive seasons in the top division before relegation.[5] Middlesbrough won the League Cup in 2004, the club's first and only major trophy.[7] They reached the 2006 UEFA Cup Final in May 2006 but were beaten by Spanish side Sevilla. On 24 May 2009, Middlesbrough were relegated to the Championship, failing to extend their 11-year stay in the Premier League.[8]
			</p>
		</div>
	</div>
</div>

<hr>
<div class="container-fluid">
	<div class="center">
		<div class="btn-group center-container collection-filter">
	  	<button id="company-posts" class="btn active">Posts</button>
  		<button id="company-followers" class="btn">Followers</button>
		</div>
	</div>
</div>
<div class="nav-escape-above"></div>
<div id="company-posts-container" class="container-fluid posts-container-inv nav-escape-above">
</div>

<% if (editable) { %>
	<div id="uploadLogoModal" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Upload Company Logo</h3>	
		</div>

		<div class="modal-body">
			<form accept-charset="UTF-8" action="/companies" enctype="multipart/form-data" id="add-company-logo" method="post">
			  <input type="file" name="company[logo]" id="company-logo-field" />
			 </form>
		</div>

		<div class="modal-footer">
			<a href="" id="company-submit-logo" contenteditable="<%= editable %>" class="btn btn-primary">Upload</a>
		</div>

	</div>
<% } %>

