<div class="glimpse">
  <div class="inner-glimpse">
    <a href="#" class="open-img" data-img='<%= full_image_url %>'><img src="<%= image_url %>" /></a>
    <div class="outer-feature">
      <div class="inner-feature">
        <div class="votes">
          <span class="num-votes"><%= total_votes %> votes</span>
          <% if (voted_on == Maple.Post.VOTED.NO) { %>
            <a class="vote"><span class="label label-info">Vote</span></a>
          <% } else if (voted_on == Maple.Post.VOTED.YES) { %>
            <span class="label label-inverse">Voted</span>
          <% } %>
        </div>
        <h4><%= title %></h4>
      </div>
    </div>
  </div>

  <div class="glimpse-info">
    <% if (typeof(user) !== "undefined" && user) { %>
      <% if (user.avatar_thumb && user.avatar_thumb != "avatars/thumb/missing.png") { %>
        <img src="<%= user.avatar_thumb %>" />
      <% } else if (user.uid) { %>
        <img src="http://graph.facebook.com/<%= user.uid %>/picture" />
      <% } %>
    <% } %>
    <div class="glimpse-meta">
      <span class="content">
        <%= content %>
      </span>
      <span class="date"><%= relative_time %> ago</span>
      <% if (typeof(user) !== "undefined" && user) { %>
        <span class="author">by <a href="/#users/<%= user.id %>"><%= user.name %></a></span>
      <% } else { %>
        <span class="author">author_deleted</span>
      <% } %>
      <% if (typeof(company) !== "undefined" && typeof(company.id) !== "undefined" && typeof(company.name) !== "undefined") { %>
        <span class="tag"><a href="/#companies/<%=company_id %>"><strong><%= company.name %></strong></a></span>
      <% } %><br />
      <a href="https://www.facebook.com/dialog/feed?
  app_id=<%= window.config.FACEBOOK_APP_ID %>&
  link=http://<%= window.config.HOSTNAME %>/&
  name=Additt&
  caption=<%= title %>&
  description=<%= content %>&
  redirect_uri=http://<%= window.config.HOSTNAME %>/">Share on Facebook</a>
    </div>
    <div class="clearfix"></div>
    <% if (user && user_signed_in && session.currentUser.id === user.id) { %>
    <button class="btn delete-post">
      <i class="icon-trash"></i>
    </button>
    <% } %>
  </div>
</div>
