<div class="glimpse">
  <div class="inner-glimpse">
    <a href="#" class="open-img" data-img='<%= full_image_url %>'><img class="maple-post" src="<%= image_url %>" /></a>
    <div class="outer-feature">
      <div class="inner-feature">
        <div class="votes">
          <span class="num-votes"><%= total_votes %> votes</span>
          <% if (voted_on == Maple.Post.VOTED.NO) { %>
            <a class="vote"><span class="label label-info">Vote</span></a>
          <% } else if (voted_on == Maple.Post.VOTED.YES) { %>
            <span class="label label-inverse">Voted</span>
          <% } %>
        </div>
        <h4><%= title %></h4>
      </div>
    </div>
  </div>

  <div class="glimpse-info">
    <% if (typeof(user) !== "undefined") { %>
      <% if (!user.uid) { %>
        <img src="/assets/<%= user.profile_image %>" />
      <% } else { %>
        <img src="http://graph.facebook.com/<%= user.uid %>/picture" />
      <% } %>
    <% } %>
    <div class="glimpse-meta">
      <span class="content">
        <%= content %>
      </span>
      <span class="date"><%= relative_time %> ago</span>
      <% if (typeof(user) !== "undefined") { %>
        <span class="author">by <a href="/#users/<%= user.id %>"><%= user.name %></a></span>
      <% } %>
      <% if (typeof(company) !== "undefined") { %>
        <span class="tag"><a href="/#companies/<%=company_id %>"><strong><%= company.name %></strong></a></span>
      <% } %>
    </div>
    <div class="clearfix"></div>
    <% if (user_signed_in && session.currentUser.id === user.id) { %>
    <button class="btn delete-post">
      <i class="icon-trash"></i>
    </button>
    <% } %>
  </div>
</div>
