<div class="glimpse">
  <div class="inner-glimpse">
    <img src="<%= image_url %>" />
    <div class="outer-feature">
      <div class="inner-feature">
        <div class="votes">
          <span class="num-votes"><%= total_votes %></span>
          <a class="vote" href="#"><span class="label label-info">Vote</span></a>
        </div>
        <h4><%= title %></h4>
      </div>
    </div>
  </div>

  <div class="glimpse-info">
    <img src="http://graph.facebook.com/<%= user.uid %>/picture" />
    <div class="glimpse-meta">
      <span class="content">
        <%= content %>
      </span>
      <!--<span class="date">one hour ago</span>-->
      <span class="author">by <%= user.email %></span>
      <!--<span class="tag"><a href="">Nike</a></span>-->
    </div>
    <div class="clearfix"></div>
  </div>
</div>