<div class="glimpse">
  <div class="inner-glimpse">
    <img src="<%= image_url %>" />
    <div class="outer-feature">
      <div class="inner-feature">
        <div class="votes">
          <span class="num-votes"><%= total_votes %></span>
          <a class="vote" href="#"><span class="label label-info">Vote</span></a>
        </div>
        <h4><%= title %></h4>
      </div>
    </div>
  </div>

  <div class="glimpse-info">
    <% if (typeof(user) !== "undefined") { %>
      <img src="http://graph.facebook.com/<%= user.uid %>/picture" />
    <% } %>
    <div class="glimpse-meta">
      <span class="content">
        <%= content %>
      </span>
      <span class="date"><!--<%= created_at %>--></span>
      <% if (typeof(user) !== "undefined") { %>
        <span class="author">by <%= user.name %></span>
      <% } %>
      <% if (typeof(company) !== "undefined") { %>
        <span class="tag"><a href="#"><strong><%= company.name %></strong></a></span>
      <% } %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>