<div class="glimpse">
  <div class="inner-glimpse">
    <img src="/assets/<%= image_url %>" />
    <div class="outer-feature">
      <div class="inner-feature">
        <div class="votes">
          <span class="num-votes"><%= total_votes %></span>
          <% if (voted_on == 0) { %>
            <a class="vote" href="#"><span class="label label-info">Vote</span></a>
          <% } else if (voted_on == 1) { %>
            <span class="label label-inverse">Voted</span>
          <% } %>
        </div>
        <h4><%= title %></h4>
      </div>
    </div>
  </div>

  <div class="glimpse-info">
    <% if (typeof(user) !== "undefined") { %>
      <% if (!user.uid) { %>
        <img src="/assets/<%= user.profile_image %>" />
      <% } else { %>
        <img src="<%= user.profile_image %>" />
      <% } %>
    <% } %>
    <div class="glimpse-meta">
      <span class="content">
        <%= content %>
      </span>
      <span class="date"><!--<%= created_at %>--></span>
      <% if (typeof(user) !== "undefined") { %>
        <span class="author">by <%= user.name %></span>
      <% } %>
      <% if (typeof(company) !== "undefined") { %>
        <span class="tag"><a href="#"><strong><%= company.name %></strong></a></span>
      <% } %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
