<div class="container">
  <div class="row-fluid">
    <div class="span8 center">
      <img src="<%= full_image_url %>" class="img-rounded">
      <hr>
    </div>
    <div class="span4 well">
      <h4> <%= title %> </h4> <br>
      <p> <%= content %></p>
      <hr>
      <div class="pull-left">
        <a href="/#users/<%= user.id %>" class="pull-left"><img src="<%= user.avatar_thumb %>"></a>
        <div class="glimpse-meta">
          <strong> by <%= user.name %></strong>
          <p class="pull-left"> <strong> <%= relative_time %> </strong>
        </div>
      </div>
      <div class="clearfix"></div>
      <% if (typeof(rewards) !== "undefined") { %>
        <div class="clearfix"></div>
        <hr>
      <% if (typeof(campaign) !== "undefined" && campaign.tagName === undefined){ %>
        <p> <strong>Submitted to</strong>&nbsp;<%= campaign.title %></p>
      <% } %>
        <div class="pull-left well">
          <h5> Treasures won </h5>
          <% _.each(rewards, function(reward) { %>
            <i class="gold icon-trophy"></i>&nbsp;<small><%= reward.title %></small>
          <% }); %>
        </div>
      <% } %>
    </div>
  </div>
</div>
