<div class="top-user">
  <img src="http://graph.facebook.com/<%= uid %>/picture" />
  <span class="top-user-name block"><a href="/#users/<%= id %>"><%= name %></a></span>
  <span class="top-user-ads block uppercase light-text"><span class="num"><%= num_ads %></span> ads</span>
  <span class="top-user-votes block uppercase light-text"><span class="num"><%= num_votes %></span> votes</span>
</div>