<div class="container">
	<div class="center">
		<div id="user-info-container">
			<img id="avatar" contenteditable="<%= editable %>" src="<%= avatar %>" class="img-polaroid small-photo pull-left">
			<div class="pull-left">
					<%if (name) { %>
				<h2> <%= name %> </h2>
					<%} else { %>
					<h2>Name Unavailable</h2>
					<%}%>
				<hr>
				<p id="personal-info" contenteditable="<%= editable %>">
					<%= personal_info %>
				</p>
			</div>
			<% if (session.currentUser.id !== id && !company_signed_in) { %>
			<div class="follow pull-right">
				<% if (user_signed_in && _.contains(session.currentUser.users_im_following, id)) { %>
					<button class="btn btn-success pull-right">
						Following
					</button>
				<% } else if (!user_signed_in) { %>
          <a href="/users/sign_in" class="btn pull-right">
            <i class="icon-plus"></i> Follow
          </a>
        <% } else { %>
					<button class="btn pull-right">
						<i class="icon-plus"></i> Follow
					</button>
				<% } %>
			</div>
			<% } %>
		</div>
	</div>
</div>
<div id="user-select-new-avatar">
</div>
<hr>

<div class="container-fluid">
	<div class="center">
		<div class="btn-group center-container collection-filter">
	  	<button id="user-posts" class="btn active">Posts</button>
  		<button id="user-followers" class="btn">Followers</button>
		</div>
		<div class="dropdown btn-group">
    	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    		Following
        <span class="caret"></span>
    	</a>
    	<ul class="dropdown-menu">
        <li><a href="#" class="collection-filter" id="user-following-companies">Companies</a></li>
        <li><a href="#" class="collection-filter" id="user-following-users">Users</a></li>
      </ul>
    </div>
    <% if (user_signed_in && session.currentUser.id === id) { %>
    <div class="settings dropdown btn-group">
    	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-asterisk"></i>
    	</a>
    	<ul class="dropdown-menu">
        <li><a href="#" class="delete-user">Delete Account</a></li>
      </ul>
    </div>
    <% } %>

	</div>
</div>
<div id="user-main-container" class="container-fluid nav-escape-above">

</div>
