<div class="container">
	<div class="center">
		<div id="user-info-container">
			<img id="avatar" contenteditable="<%= editable %>" src="<%= avatar %>" class="img-polaroid small-photo pull-left">
			<div class="pull-left">
					<%if (name) { %>
				<h2> <%= name %> </h2>
					<%} else { %> 
					<h2> Calvin Fernandez </h2>
					<%}%>
				<hr> 
				<p id="personal-info" contenteditable="<%= editable %>">
					<%= personal_info %>	
				</p>		
			</div>
		</div>
	</div>
</div>
<div id="user-select-new-avatar">
</div>
<hr>

<div class="container-fluid">
	<div class="center">
		<div class="btn-group center-container activity-filter">
	  	<button class="user-posts btn active">Posts</button>
  		<button class="user-likes btn">Likes</button>
  		<button class="user-following btn">Following</button>
  		<button class="user-followers btn">Followers</button>
		</div>
	</div>
</div>
<div id="user-main-container" class="container-fluid nav-escape-above">

</div>
