<ul class="breadcrumb">
  <li class="active"> Competitions </li>
</ul>
<div class="navbar dark-nav">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active">
        <a href="#tab1" data-toggle="tab" id="current-campaigns"><small>Current <%= campaigns.current.length %> </small></a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab" id="future-campaigns"><small>Future <%= campaigns.future.length %></small></a>
      </li>
      <li>
        <a href="#tab3" data-toggle="tab" id="past-campaigns"><small>Archive <%= campaigns.past.length %></small></a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="tab1">
  <ul class="nav nav-tabs nav-stacked">    
    <% if (company_signed_in === true && 
        id === session.currentCompany.id ) { %>
      <li><a href="#new-campaign-modal" data-toggle="modal">
        <i class="icon-plus"></i>&nbsp;<span>New Campaign </span>
        </a>
      </li> 
    <% } %>
    <% campaigns.current.forEach(function(campaign){ %> 
      <li class="campaign-glimpse" campaign-id="<%=campaign.id%>">
        <a href="#">
          <div class="container-fluid"> 
            <div class="row-fluid">
              <div class="span2 align-top">
                <ul>
                  <% campaign.random_post_thumbs.forEach(function(post_thumb) { %>
                    <li> <img class="post-thumb" src="<%= post_thumb %>"></li>
                  <% }); %>
                </ul>
              </div>
              <div class="span10">
                <h3> <%= campaign.title %> </h3>
                <p>
                  <%= campaign.description %>
                </p>
                <div class="clear-fix"></div>
                <% 
                  var end = Maple.Utils.fromRubyDateTime(campaign.endtime);
                  var now = Date.now();
                  var span = new TimeSpan(end - now);      
                %> 
                <span class="label label-inverse">
                  <small>
                    Ends in <%= span.getDays() %> days, <%= span.getHours() %> hours, <%= span.getMinutes() %> minutes. 
                  </small>
                </span>
              </div>
            </div>
          </div>
        </a>
      </li> 
    <% }) %>
  </ul>     
  </div>
  <div class="tab-pane" id="tab2">
    <ul class="nav nav-tabs nav-stacked">  
    <% if (company_signed_in === true && 
        id === session.currentCompany.id ) { %>
      <li><a href="#new-campaign-modal" data-toggle="modal">
        <i class="icon-plus"></i>&nbsp;<span>New Campaign </span>
        </a>
      </li> 
    <% } %>
    <% campaigns.future.forEach(function(campaign){ %>
      <li class="campaign-glimpse" campaign-id="<%= campaign.id %>"> 
        <a href="#">
          <div class="container-fluid"> 
            <div class="row-fluid">
              <div class="span2 align-top">
                <ul>
                  <% campaign.random_post_thumbs.forEach(function(post_thumb) { %>
                    <li> <img class="post-thumb" src="<%= post_thumb %>"></li>
                  <% }); %>
                </ul>
              </div>
              <div class="span10">
                <h3> <%= campaign.title %> </h3>
                <p>
                  <%= campaign.description %>
                </p>
                <div class="clear-fix"></div>
                <% 
                  var start = Maple.Utils.fromRubyDateTime(campaign.starttime);
                  var now = Date.now();
                  var span = new TimeSpan(start - now);      
                %> 
                <span>
                  <small>
                    Starts in <%= span.getDays() %> days, <%= span.getHours() %> hours, <%= span.getMinutes() %> minutes. 
                  </small>
                </span>
              </div>
            </div>
          </div>
        </a> 
      </li> 
    <% }) %>
  </div>
  <div class="tab-pane" id="tab3">
    <ul class="nav nav-tabs nav-stacked">
    <% if (company_signed_in === true && 
        id === session.currentCompany.id ) { %> 
      <li><a href="#new-campaign-modal" data-toggle="modal">
        <i class="icon-plus"></i>&nbsp;<span>New Campaign </span>
        </a>
      </li> 
    <% } %>
    <% campaigns.past.forEach(function(campaign){ %>
      <li class="campaign-glimpse" campaign-id="<%= campaign.id %>">
        <a href="#">
          <div class="container-fluid"> 
            <div class="row-fluid">
              <div class="span2 align-top">
                <ul>
                  <% campaign.random_post_thumbs.forEach(function(post_thumb) { %>
                    <li> <img class="post-thumb" src="<%= post_thumb %>"></li>
                  <% }); %>
                </ul>
              </div>
              <div class="span10">
                <h3> <%= campaign.title %> </h3>
                <p>
                  <%= campaign.description %>
                </p>
                <div class="clear-fix"></div>
                <% 
                  var end = Maple.Utils.fromRubyDateTime(campaign.endtime);
                  var now = Date.now();
                  var span = new TimeSpan(now - end);      
                %> 
                <span class="label label-inverse">
                  <small>
                    Ended <%= span.getDays() %> days ago. 
                  </small>
                </span>
              </div>
            </div>
          </div>
        </a>
      </li>
    <% }) %> 
  </div>
</div>
