<div class="glimpse rounded-top subtle-shadow">
  <div class="inner-glimpse rounded-top">

  <div class="header-feature pull-up">
    <div class="header-inner">
      <div class="pull-right">
      </div>
    </div>
  </div>
    
  <div class="outer-feature">
    <div class="inner-feature">
      <h4><%= title %></h4>
    </div>
  </div>

</div>

<div class="glimpse-info">

  <div class="content">
    <p class="wrap-text">
      <small>
        <%= reward %>
      </small>
    </p>
  </div>

  <hr class="hr-thin">

  <div class="pull-left">
    <div class="glimpse-meta">
      <span class="author"><%= description %></span>
    </div>
  </div>

  <div class="clearfix"></div>
  <hr class="hr-thin">
  <div class="well">
    <span><i class="icon-gift"></i>&nbsp;<small><%=reward.quantity %> Remaining</small>    
    <span><i class="icon-thumbs-up"></i>&nbsp;<small><%= reward.min_votes %> Upvotes to win </small>
  </div>
</div>
